src/flows/Campsite_Reservation-1.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Navigate_to_Next_Steps</name>
        <label>Navigate to Next Steps</label>
        <locationX>374</locationX>
        <locationY>234</locationY>
        <assignmentItems>
            <assignToReference>$Flow.CurrentStage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>StageNextSteps</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Next_Steps</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Navigate_to_Personal_Info</name>
        <label>Navigate to Personal Info</label>
        <locationX>523</locationX>
        <locationY>137</locationY>
        <assignmentItems>
            <assignToReference>$Flow.CurrentStage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>StagePersonalInfo</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Personal_Info</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Navigate_to_Reservation</name>
        <label>Navigate to Reservation</label>
        <locationX>524</locationX>
        <locationY>24</locationY>
        <assignmentItems>
            <assignToReference>$Flow.CurrentStage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>StageReservation</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ScreenReservation</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Navigate_to_Review</name>
        <label>Navigate to Review</label>
        <locationX>72</locationX>
        <locationY>132</locationY>
        <assignmentItems>
            <assignToReference>$Flow.CurrentStage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>StageReviewAndSubmit</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Review_and_Submit</targetReference>
        </connector>
    </assignments>
    <description>An online application process to reserve a campsite. Captures reservation dates, occupants, contact info of the applicant, and additional documentation.</description>
    <formulas>
        <description>Retrieves the User Id from UserInfo</description>
        <name>CurrentUserId</name>
        <dataType>String</dataType>
        <expression>{!$User.Id}</expression>
    </formulas>
    <interviewLabel>Campsite Reservation {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Campsite Reservation</label>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Reservation</name>
        <label>Create Reservation</label>
        <locationX>671</locationX>
        <locationY>139</locationY>
        <assignRecordIdToReference>Reservation</assignRecordIdToReference>
        <connector>
            <targetReference>Navigate_to_Personal_Info</targetReference>
        </connector>
        <inputAssignments>
            <field>Application__c</field>
            <value>
                <elementReference>ApplicationId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Arrival_Date__c</field>
            <value>
                <elementReference>ArrivalDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Camper__c</field>
            <value>
                <elementReference>CurrentUserAccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Campsite__c</field>
            <value>
                <elementReference>CampsiteId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Departure_Date__c</field>
            <value>
                <elementReference>Departure_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description__c</field>
            <value>
                <elementReference>Notes</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Number_of_Campers__c</field>
            <value>
                <elementReference>Number_of_Campers</elementReference>
            </value>
        </inputAssignments>
        <object>Reservation__c</object>
    </recordCreates>
    <recordCreates>
        <description>Creates a new Application record to associate with the session.</description>
        <name>New_Application</name>
        <label>New Application</label>
        <locationX>373</locationX>
        <locationY>22</locationY>
        <assignRecordIdToReference>ApplicationId</assignRecordIdToReference>
        <connector>
            <targetReference>Navigate_to_Reservation</targetReference>
        </connector>
        <inputAssignments>
            <field>Account__c</field>
            <value>
                <elementReference>CurrentUserAccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Applicant__c</field>
            <value>
                <elementReference>CurrentUserId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Campsite__c</field>
            <value>
                <elementReference>CampsiteId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>In-Progress</stringValue>
            </value>
        </inputAssignments>
        <object>Application__c</object>
    </recordCreates>
    <recordLookups>
        <name>Current_Contact</name>
        <label>Current Contact</label>
        <locationX>228</locationX>
        <locationY>23</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>New_Application</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CurrentUserContactId</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputAssignments>
            <assignToReference>CurrentContact.Email</assignToReference>
            <field>Email</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>CurrentContact.FirstName</assignToReference>
            <field>FirstName</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>CurrentContact.LastName</assignToReference>
            <field>LastName</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>CurrentContact.MailingCity</assignToReference>
            <field>MailingCity</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>CurrentContact.MailingPostalCode</assignToReference>
            <field>MailingPostalCode</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>CurrentContact.MailingStreet</assignToReference>
            <field>MailingState</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>CurrentContact.MailingState</assignToReference>
            <field>MailingState</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>CurrentContact.MobilePhone</assignToReference>
            <field>MobilePhone</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Current_User</name>
        <label>Current User</label>
        <locationX>71</locationX>
        <locationY>25</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Current_Contact</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CurrentUserId</elementReference>
            </value>
        </filters>
        <object>User</object>
        <outputAssignments>
            <assignToReference>CurrentUserAccountId</assignToReference>
            <field>AccountId</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>CurrentUserContactId</assignToReference>
            <field>ContactId</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Complete_Application</name>
        <label>Complete Application</label>
        <locationX>225</locationX>
        <locationY>234</locationY>
        <connector>
            <targetReference>Navigate_to_Next_Steps</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ApplicationId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Complete</stringValue>
            </value>
        </inputAssignments>
        <object>Application__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Contact_Info</name>
        <label>Update Contact Info</label>
        <locationX>227</locationX>
        <locationY>134</locationY>
        <connector>
            <targetReference>Navigate_to_Review</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CurrentUserContactId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Email</field>
            <value>
                <elementReference>Email</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FirstName</field>
            <value>
                <elementReference>First_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastName</field>
            <value>
                <elementReference>Last_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MailingCity</field>
            <value>
                <elementReference>Mailing_City</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MailingPostalCode</field>
            <value>
                <elementReference>Mailing_ZIP_Code</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MailingState</field>
            <value>
                <elementReference>Mailing_State</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MailingStreet</field>
            <value>
                <elementReference>Mailing_Street</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MobilePhone</field>
            <value>
                <elementReference>Mobile_Phone</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <screens>
        <description>Displays messages to the applicant about the next steps that are needed to complete the application process and allows uploading additional documentation.</description>
        <name>Next_Steps</name>
        <label>Next Steps</label>
        <locationX>522</locationX>
        <locationY>232</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>NextStepsHeader</name>
            <fieldText>&lt;DIV ALIGN=&quot;CENTER&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:24px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;Your application was submitted! What&amp;apos;s next?&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;CENTER&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;1. The Campgrounds team will review your application as soon as possible.&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;CENTER&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;2. When confirmed, you will receive an email at the address you provided.&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>UploadFile</name>
            <extensionName>forceContent:fileUpload</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Upload Document</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>Reservation</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>UploadedFileNames</assignToReference>
                <name>label</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Personal_Info</name>
        <label>Personal Info</label>
        <locationX>373</locationX>
        <locationY>133</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Update_Contact_Info</targetReference>
        </connector>
        <fields>
            <name>First_Name</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>CurrentContact.FirstName</elementReference>
            </defaultValue>
            <fieldText>First Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Last_Name</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>CurrentContact.LastName</elementReference>
            </defaultValue>
            <fieldText>Last Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Email</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>CurrentContact.Email</elementReference>
            </defaultValue>
            <fieldText>Email</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Mobile_Phone</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>CurrentContact.MobilePhone</elementReference>
            </defaultValue>
            <fieldText>Mobile Phone</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Mailing_Street</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>CurrentContact.MailingStreet</elementReference>
            </defaultValue>
            <fieldText>Mailing Street</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Mailing_City</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>CurrentContact.MailingCity</elementReference>
            </defaultValue>
            <fieldText>Mailing City</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Mailing_State</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>CurrentContact.MailingState</elementReference>
            </defaultValue>
            <fieldText>Mailing State</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Mailing_ZIP_Code</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>CurrentContact.MailingPostalCode</elementReference>
            </defaultValue>
            <fieldText>Mailing ZIP Code</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Agree_Terms</name>
            <dataType>Boolean</dataType>
            <fieldText>I agree to the Terms and Conditions outlined in the Camper Agreement.</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Review_and_Submit</name>
        <label>Review and Submit</label>
        <locationX>71</locationX>
        <locationY>236</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Complete_Application</targetReference>
        </connector>
        <fields>
            <name>ReviewHeader</name>
            <fieldText>&lt;DIV ALIGN=&quot;CENTER&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;Does everything look right?&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;CENTER&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;CENTER&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:11px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;Let&amp;apos;s double check what you&amp;apos;ve entered. Once you submit this, we&amp;apos;ll process your application and get you a reservation confirmation right away.&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>ReviewArrivalDate</name>
            <fieldText>{!ArrivalDate}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>ReviewDepartureDate</name>
            <fieldText>{!Departure_Date}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>ReviewNumberOfCampers</name>
            <fieldText>{!Number_of_Campers}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>ReviewFullName</name>
            <fieldText>{!First_Name} {!Last_Name}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>ReviewEmail</name>
            <fieldText>{!Email}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>ReviewMobilePhone</name>
            <fieldText>{!Mobile_Phone}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>ReviewMailingStreet</name>
            <fieldText>{!Mailing_Street}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>ReviewMailingCity</name>
            <fieldText>{!Mailing_City}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>ReviewMailingState</name>
            <fieldText>{!Mailing_State}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>ReviewMailingZIP</name>
            <fieldText>{!Mailing_ZIP_Code}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>ScreenReservation</name>
        <label>Reservation</label>
        <locationX>672</locationX>
        <locationY>23</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Create_Reservation</targetReference>
        </connector>
        <fields>
            <name>ArrivalDate</name>
            <dataType>Date</dataType>
            <fieldText>Arrival Date</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Departure_Date</name>
            <dataType>Date</dataType>
            <fieldText>Departure Date</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Number_of_Campers</name>
            <dataType>Number</dataType>
            <fieldText>Number of Campers</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Notes</name>
            <fieldText>Notes</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <stages>
        <description>After application completion, shows decision information and information on how to proceed</description>
        <name>StageNextSteps</name>
        <isActive>true</isActive>
        <label>Next Steps</label>
        <stageOrder>40</stageOrder>
    </stages>
    <stages>
        <description>Enter personal contact information for the applicant.</description>
        <name>StagePersonalInfo</name>
        <isActive>true</isActive>
        <label>Personal Info</label>
        <stageOrder>20</stageOrder>
    </stages>
    <stages>
        <description>Enter reservation information including arrival and departure dates</description>
        <name>StageReservation</name>
        <isActive>true</isActive>
        <label>Reservation</label>
        <stageOrder>10</stageOrder>
    </stages>
    <stages>
        <description>Review all information entered in the application process and submit to advance the application to Complete status.</description>
        <name>StageReviewAndSubmit</name>
        <isActive>true</isActive>
        <label>Review &amp; Submit</label>
        <stageOrder>30</stageOrder>
    </stages>
    <startElementReference>Current_User</startElementReference>
    <variables>
        <description>Stores the ID of the Application in context.</description>
        <name>ApplicationId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Selected Campsite to apply for</description>
        <name>CampsiteId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Stores Contact information for the Contact currently applying for the campsite online.</description>
        <name>CurrentContact</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <description>User.AccountId for the running Community user context</description>
        <name>CurrentUserAccountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Contact Id directly associated with the Community User applying for a campsite online.</description>
        <name>CurrentUserContactId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Reservation created through the workflow</description>
        <name>Reservation</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>File names uploaded from the file input component</description>
        <name>UploadedFileNames</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
